<%- contentFor('HeaderCss') %>

<style>
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
   .button1 {
    background-color:#2E86C1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  
   }
   .button2 {
    background-color:#A569BD ;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  
   }
   .button3 {
    background-color:rgb(206, 35, 35);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  
   }
   .button4 {
    background-color:  #F1C40F;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  
   }
      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 5px;
        font-size: 14px;
        border: none;
        max-width:100%;
        width:200%
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;}
      </style>  
<%- contentFor('breadcrumb') %>

<div class="col-sm-6">
    <h4 class="page-title">User Job</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Bakvebul</a></li>
        <li class="breadcrumb-item"><a href="/Customer">Users</a></li>
        <li class="breadcrumb-item active">Job</li>
    </ol>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <%- include('customer_partial') %>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane p-3 active">
                        <form data-toggle="validator" id="Customer_bank_detail_add">
                            <div class="row">
                                <input type="hidden" name="user_pub_id" id="user_pub_id" value="<%= user %>">
                                <div class="form-group col-sm-4">
                                    <label for="name" class="col-form-label">Name</label>
                                    <input class="form-control" type="text" placeholder="Please Enter Name" id="name" name="name" required value="<%= result.name %>"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="t_c_id_no" class="col-form-label">T.C ID No</label>
                                    <input class="form-control" type="text" placeholder="T.C ID No" required id="t_c_id_no" name="t_c_id_no" value="<%= result.t_c_id_no %>"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="handy_phone" class="col-form-label">Handy Phone</label>
                                    <input class="form-control" type="text" placeholder="Handy Phone" required
                                            id="handy_phone" name="handy_phone" value="<%= result.handy_phone %>"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="iban" class="col-form-label">IBAN</label>
                                    <input class="form-control" type="text" placeholder="IBAN" required
                                            id="iban" name="iban" value="<%= result.iban %>"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="address" class="col-form-label">Adress Information</label>
                                    <input class="form-control" type="text" placeholder="Adress Information" required
                                            id="address" name="address" value="<%= result.address %>"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<%- contentFor('FooterJs') %>

<script src="public/assets/js/app.js"></script>

<%- contentFor('BottomJs') %>